*{
	box-sizing: border-box;
}

body{
		max-width: 100%;
		margin-left: 10px; 
		margin-right: 10px;
	}
/*----------------------------------HEADER-----------------------------------------------*/

.bg-br{
	/*#e35656*/
	
	background-color: #EEEEEE   ; 
	border-radius: 15px;
	padding-bottom: 10px;
}

ul {
	padding: 0px;
	list-style:none;

}

.link{
	/*display: inline-block;*/ 
	margin-top: 10px; 
	margin-right: 5px; 
	/*background-color: rgb(233, 177, 65 ); */
	padding: 5px; 
	background-color: #E5E5E5 ;
}

.link:hover{
	background-color: rgb(233, 177, 65 );

}
.link a {
	font-family: 'Poppins', sans-serif;
}

a{
	color:black;
}

.center{
	text-align: center;
}
.mb{
	margin: 10px;
}


h1, h2{
	font-family: 'Lato', sans-serif;
}
/*
li a:hover{
	background-color: green;
}
*/
img:hover{
	background-color: blue;
}

a{
	text-decoration: none;
}

.detail{
	color: blue;
}

p{
	font-style: italic;
	padding: 30px;


}
	.header-style{
		padding: 20px;
}



.float-left{
	float: left
}

input:focus{
	background-color:  #EEEEEE;
}

button{
	box-sizing: border-box;
	padding: 5px;
	background-color:#2278a9 ;
	border:0;
	color: white;
}

button:active{
	background-color: green;
}
button:hover{
	background-color: green;
}
[type="reset"]:active{
	background-color: red;
}
[type="reset"]:hover{
	background-color: red;
}
/*----------------------------FOOTER--------------------------------*/

footer{

	 padding: 10px;
}

/*----------------------------TABLE---------------------------------*/
table{
	margin: 0 auto;
	border-collapse: collapse;
	margin-bottom: 20px;
}
tbody{
	border: red 1px solid;
}

th, td {
	padding:5px;
}

tr:hover{
	background-color: rgba(233, 177, 65 ,0.3);
	opacity: 0.9;
}

caption{
	background-color: #F37156;
}

.head-table{
	border-bottom: 1px solid red; 
	background-color: #EEEEEE;
}


.block-center{
	display: flex; 
	justify-content: center;
}



.block-table{
	 margin-right: 30px;
}

.tr-line{
	border-bottom: 1px solid red;
}

.td-line{
	border-right: 1px solid red;
}
/*------------------------------------MAPS-------------------------------------*/
.content-center{
	justify-content:center
}

/*----------------------------------ABOUT---------------------------------------*/

.inline-block{
	display: inline-block;
}

.align-center{
	text-align: center;
}



.form{
		box-sizing: border-box;
	 	margin: 0 auto; 
	 	max-width: 100%; 
	}

/*-------------------------MEDIA QUERY------------------------------------*/


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */

[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
	body{
		margin-left: 80px; 
		margin-right: 80px;
	}
	.link{
		display: inline-block; 	
		background-color: white;
	}
	nav{
		background-color: #EEEEEE   ; 
		border-radius: 15px;
		padding-bottom: 10px;
	}

}
@media only screen and (min-width: 950px) {
  /* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
  	.form{
		box-sizing: border-box;
		margin: 0 auto; 
		max-width: 50%; 
	}
	body{
		margin-left: 80px; 
		margin-right: 80px;
	}
	.link{
		display: inline-block; 	
		background-color: white;
	}
	nav{
		background-color: #EEEEEE   ; 
		border-radius: 15px;
		padding-bottom: 10px;
	}
}


/*
@media only screen and (max-width: 768px) {
 	

	
	.block-center{
		display: block; 
		
	}
	 [class*="col-"] {
    	width: 100%;


  }
}
*/

/*------------------------------------ANIMATION-------------------------------------------*/
#animation-rotate {
	animation: rotate 3s infinite;
	animation-name: rotate;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: none;
	animation-play-state: running;
}


/*@keyframes rotate {
0%, 100% {
transform: rotate(360deg);
}

50% {
transform: rotate(180deg);
}
*/
/*
@keyframes rotate {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(30deg); }
  50% { transform: rotate(120deg); }
  100% { transform: rotate(360deg); }
}*/

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



#animate {
animation: rotate 3s infinite;
animation-name: move;
animation-duration: 3s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: none;
animation-play-state: running;
}

@keyframes move {
	from{transform: translate(0px);}
	to{transform: translate(100px);}
	/*
  50% {
     transform: translate(100px);
  }*/
}




.animated {
 -webkit-animation-duration: 2s;
 animation-duration: 10s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}
@-webkit-keyframes flash {
 0%, 50%, 100% {
 opacity: 1;
 }
25%, 75% {
 opacity: 0;
 }
}
@keyframes flash {
 0%, 50%, 100% {
 opacity: 1;
 }
25%, 75% {
 opacity: 0;
 }
}
.flash {
 -webkit-animation-name: flash;
 animation-name: flash;
}