body{
	margin-left: 80px; 
	margin-right: 80px;
}

/*
	HEADER
*/

.bg-br{
	/*#e35656*/
	
	background-color: #EEEEEE   ; 
	border-radius: 15px;
}

ul {
	text-align: right;
}

.link{
	display: inline-block; 
	margin-top: 10px; 
	margin-right: 5px; 
	/*background-color: rgb(233, 177, 65 ); */
	padding: 5px; 
	

}
.link:hover{
	background-color: #E5E5E5 ;

}
.link a {
	font-family: 'Poppins', sans-serif;
}

a{
	color:black;
}

.center{
	text-align: center;
}
.mb{
	margin-left: 10px;
}


h1, h2{
	font-family: 'Lato', sans-serif;
}
/*
li a:hover{
	background-color: green;
}
*/
img:hover{
	background-color: blue;
}

a{
	text-decoration: none;
}

.detail{
	color: blue;
}

p{
	font-style: italic;


}

.header-style{
	overflow: hidden; 
	box-sizing: border-box; 
	position: sticky; 
	top: 0;
}

.float-left{
	float: left
}
/*
	FOOTER
*/

footer{
	 margin: 5px; 
	 padding: 10px;
}

/*
	TABLE
*/
table{
	margin: 0 auto;
	border-collapse: collapse;
	margin-bottom: 20px;
}
tbody{
	border: red 1px solid;
}

th, td {
	padding:5px;
}

tr:hover{
	background-color: rgba(233, 177, 65 ,0.3);
	opacity: 0.9;
}

caption{
	background-color: #F37156;
}

.head-table{
	border-bottom: 1px solid red; 
	background-color: #EEEEEE;
}

.block-center{
	display: flex; 
	justify-content: center;
}

.block-table{
	 margin-right: 30px;
}

.tr-line{
	border-bottom: 1px solid red;
}

.td-line{
	border-right: 1px solid red;
}
/*
	MAPS
*/
.content-center{
	justify-content:center
}

/*
	ABOUT
*/

.inline-block{
	display: inline-block;
}

.align-center{
	text-align: center;
}